/* General page styling */
body {
  background: linear-gradient(to bottom, #1e3a8a, #1e40af, #1e3a8a);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
/* General page styling */


/* Title code */
.page-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #ffffff;
}
.page-header h2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000000;
  opacity: 0.9;
}
.page-header h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
  opacity: 0.9;
}
/* Title code */


/* Container */
.form-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 50, 0.4);
}
/* Container */


/* Title */
.form-container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #0071ce;
}
/* Title */


/* Section titles */
.form-container h2 {
  color: #000000;
  margin-top: 20px;
  font-size: 1.2rem;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}
/* Section titles */


/* Label & Input styling */
.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #000000;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #00296c;
  border-radius: 6px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border-color: #000000;
  box-shadow: 0 0 6px #60a5fa;
}
/* Label & Input styling */

/* all Buttons */
button {
  padding: 10px 15px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.add-btn {
  background-color: #1369ff;
  color: white;
}

.add-btn:hover {
  background-color: #2563eb;
}

.submit-btn {
  background-color: #008f34;
  color: white;
  width: 100%;
}

.submit-btn:disabled {
  background-color: #484848;
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background-color: #008f34;
}

.update-btn {
  background-color: #1369ff;
  color: #ffffff;
  width: 100%;
}

.update-btn:hover {
  background-color: #002f6c;
}
/* all Buttons */


/* Info and status text */
.info-text {
  font-size: 0.9rem;
  color: #000000;
  margin-top: 10px;
}

.status {
  margin-top: 10px;
  font-weight: 500;
  color: #2445e7;
}
/* Info and status text */